* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.filter-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #cecece;
  overflow-y: scroll;
}

.filterItem {
  display: flex;
  width: 10vw;
  gap: 2px;
  align-items: flex-start;
  cursor: pointer;
}

.filterItem > input {
  margin-top: 3px;
  cursor: pointer;
}

.content-holder {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

/* Gallery styles */

.grid-item-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.grid-item-container > img {
  height: 100px;
  width: 100px;
}

.product-name,
.product-description,
.price {
  width: min-content;
  min-width: 100%;
  font-size: 10px;
}

.product-grid {
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: center;
}

.product-name {
  color: #000;
}

.product-description {
  color: #aaa;
}
